@page "/updateprofile"
@using BlazorApp.Models
@using static User.Dto.UserDto;



<PageTitle>Обновить профиль</PageTitle>

<RadzenText TextStyle="TextStyle.H2">Обновить профиль</RadzenText>


<RadzenCard class="my-4">
    <RadzenStack Orientation="Orientation.Vertical" >
        <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
            <RadzenLabel Text="Дата рождения" Component="RadzenDatePickerBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDatePicker @bind-Value=@userDto.DateOfBirth Name="RadzenDatePickerBindValue" ShowCalendarWeek />
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

@*  <RadzenLabel Text="Дата рождения" Component="RadzenDatePickerBindValue" Style="margin-right: 8px; vertical-align: middle;" />
 <RadzenDatePicker @bind-Value=@userDto.DateOfBirth Name="RadzenDatePickerBindValue" ShowCalendarWeek />

 <div class="rz-p-12 rz-text-align-center">
     <RadzenLabel Text="Дата рождения бля!" Component="RadzenDatePickerBindValue" Style="margin-right: 8px; vertical-align: middle;" />
     <RadzenDatePicker @bind-Value=@userDto.DateOfBirth Name="RadzenDatePickerBindValue" ShowCalendarWeek />
 </div>
 *@
 

@* <div class="rz-p-12 rz-text-align-center">
    <RadzenLabel Text="Дата рождения" Component="RadzenDatePickerBindValue" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenDatePicker @bind-Value=@userDto.DateOfBirth Name="RadzenDatePickerBindValue" ShowCalendarWeek />
 </div> *@

@* <div class="rz-p-12 rz-text-align-center">
    <RadzenLabel Text="Дата рождения" Component="RadzenDatePickerChangeEvent" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenDatePicker TValue="DateTime?" Value=@userDto.DateOfBirth Name="RadzenDatePickerChangeEvent" />
</div> *@


<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Имя</RadzenText>
    <RadzenTextBox @bind-Value=userDto.FirstName class="w-100" aria-label="Default TextBox" />
</RadzenCard>
<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Фамилия</RadzenText>
    <RadzenTextBox @bind-Value=userDto.LastName class="w-100" aria-label="Default TextBox" />
</RadzenCard>
<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Отчество</RadzenText>
    <RadzenTextBox @bind-Value=userDto.Surname class="w-100" aria-label="Default TextBox" />
</RadzenCard>
<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">О себе</RadzenText>
    <RadzenTextBox @bind-Value=userDto.About class="w-100" aria-label="Default TextBox" />
</RadzenCard>
<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Ищу</RadzenText>
    <RadzenTextBox @bind-Value=userDto.LookingFor class="w-100" aria-label="Default TextBox" />
</RadzenCard>



<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Как нам тебя звать?</RadzenText>
    <RadzenTextBox @bind-Value=userDto.UserName class="w-100" aria-label="Default TextBox" />
</RadzenCard>
<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Возраст</RadzenText>
    <RadzenNumeric TValue="int" Disabled="true" @bind-Value=@userDto.Age />
    @* <RadzenTextBox Disabled="true" @bind-Value=userDto.Age class="w-100" aria-label="Default TextBox" /> *@
</RadzenCard>

@* <div class="autocomplete w-25">
    <label>Как нам тебя звать?</label> <!-- UserName -->
    <input @bind="userDto.UserName" />
</div>

<div class="autocomplete w-25">
    <label>Возраст</label> <!-- Age -->
    <input @bind="userDto.Age" />
</div> *@

<div class="autocomplete w-25">
    <label>Дата рождения</label> <!-- DateOfBirth -->
    <input type="date" @bind="userDto.DateOfBirth" />
</div>

@* <div class="autocomplete w-25">
    <label>Имя</label> <!-- FirstName -->
    <input @bind="userDto.FirstName" />
</div>

<div class="autocomplete w-25">
    <label>Фамилия</label> <!-- LastName -->
    <input @bind="userDto.LastName" />
</div>

<div class="autocomplete w-25">
    <label>Отчество</label> <!-- Surname -->
    <input @bind="userDto.Surname" />
</div>

<div class="autocomplete w-25">
    <label>О себе</label> <!-- About -->
    <input @bind="userDto.About" />
</div> *@

@* <div class="autocomplete w-25">
    <label>Ищу</label> <!-- LookingFor -->
    <input @bind="userDto.LookingFor" />
</div> *@

<!-- Вот тут прийдётся повозиться... -->
<div class="autocomplete w-25">
    <label>Семейное положение</label> <!-- FamilyStatus -->
    @* <input @bind="userDto.FamilyStatus" /> *@
    <select @bind="userDto.FamilyStatus">
        @foreach (var status in Enum.GetValues(typeof(User.FamilyStatus)))
        {
            <option value="@status">@status.ToString()</option>
        }
    </select>
</div>

<div class="autocomplete w-25">
    <label>Наличие детей</label> <!-- HaveChildren -->
    <select @bind="userDto.HaveChildren">
        <option value="yes">Да</option>\
        <option value="no">Нет</option>
    </select>
</div>

@* <div class="autocomplete w-25">
    <label>Как нам тебя звать?</label> <!-- UserName -->
    <input @bind="userDto.UserName" />
</div>

<div class="autocomplete w-25">
    <label>Возраст</label> <!-- Age -->
    <input @bind="userDto.Age" />
</div> *@

<div class="autocomplete w-25" style="margin-top 10px">
    <input type="button" value="Сохранить" @bind:after="Save"/>
</div>


@code {
    User.Dto.UserDto userDto = null;

    protected override async Task OnInitializedAsync()
    {
        // Тут мне нужно получить данный объект
        userDto = new User.Dto.UserDto()
            {
                Id = Guid.NewGuid(),
                Blocked = false,
                Gender = true,
                DateOfBirth = DateTime.Now,
                FirstName = "Тест",
                LastName = "Тестовый",
                Surname = "Тестовский",
                About = "Я пока тут просто мебель",
                LookingFor = "Ищу новую, свежую сущность, не опороченную хранением в базе данных",
                FamilyStatus = 0,
                HaveChildren = false,
                Login = "TestNagibator666",
                UserName = "TestNagibator666",
                Age = 22,
                Confirmed = false
            };
    }

    async Task Save()
    {
        
    }

}

