@page "/users"
@inject ProfileService profileService
@inject LocationService locationService
@using BlazorApp.Models
@using BlazorApp.Models.Filter
@using BlazorApp.Components

<RadzenCard class="rz-mx-auto rz-p-4 rz-p-md-6" style="max-width: 1250px;">
    <RadzenStack Gap="10px">
        <RadzenStack AlignItems="AlignItems.Center" Gap="1rem">
            <FilterComponent @ref=filterComponent OnClick=@GetProfiles />
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical" Gap="16px" class="rz-p-12">
            @if (profiles == null)
            {
                <p>Loading...</p>
            }
            else
            {
                <ListComponent Profiles=@profiles />
            }
        </RadzenStack>




    </RadzenStack>




</RadzenCard>








@code {
    FilterComponent filterComponent;

    FilterParameters filterParameters;

    ProfileResponse[] profiles;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        profiles = await profileService.GetListProfile(new FilterParameters());
    }

    public async Task GetProfiles()
    {
        filterParameters = filterComponent.filterParameters;

        profiles = await profileService.GetListProfile(filterParameters);
    }
}

