@page "/users"
@inject ProfileService profileService
@inject LocationService locationService
@using BlazorApp.Models
@using BlazorApp.Models.List
@using BlazorApp.Models.Filter
@using BlazorApp.Components


<FilterComponent @ref=filter OnClick=@GetProfiles></FilterComponent>

@if (profiles == null)
{
    <p>Loading...</p>
}
else
{
    <ListComponent Profiles=@profiles> </ListComponent>
}


@code {
    FilterComponent filter;

    ProfileResponse[] profiles;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //todo:пока временно так
        profiles = await profileService.GetListProfile(
        null,
        null,
        null,
        null,
        false,
        18,
        65);
    }

    public async Task GetProfiles()
    {
        profiles = await profileService.GetListProfile(
            filter.CountryId,
            filter.CityId,
            filter.SelectedGender, 
            filter.Status,
            filter.HasChildren, 
            filter.AgeFrom,
            filter.AgeTo);
    }

   
    protected override async Task OnInitializedAsync()
    {
        profiles = await profileService.GetListProfiles();
    }


}

